body {
    font-size: 16px;
    background-color: #eeeeda;
}

.container-div {
    width: 170px;
    margin: 50px;
}

#fruits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-left: 10px; */
}

.fruit-box {
    text-align: center;
    margin: 1px;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 10px 10px 5px;
}

.fruit-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}