body {
    font-size: 16px;
    background-color: #eeeeda;
}

.container-div {
    width: 170px;
    margin: 50px;
}

#fruits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fruit-box {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    /* Adjust margin for spacing between cards */
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.fruit-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .container-div {
        width: calc(50% - 40px);
        /* Two columns with margin */
        margin: 20px;
    }
}